<!DOCTYPE html>
<html>
    <head>
        <title>實驗計算機!!</title>  <!--標籤頁名字-->
        <style>
            body {
               background-color: lightyellow;
            }
            em {
                color: LightSeaGreen;
            }
        </style>
    </head>
    <body>
        
        
        <h1>Calculator-addition!</h1>
        <form action = "{% url 'upload' %}" method="POST">
            {% csrf_token %} <!-- 避免跨站請求攻擊 -->
          <label for="fnum">First num:</label>
          <input type="number" id="fnum" name="fnum"><br><br>
          <label >+</label><br><br>
          <label for="snum">Second num:</label>
          <input type="number" id="snum" name="snum"><br><br>
          <input type="submit" value="=">
        </form>
        <p></p>
        
    
    <!-- show answer -->
    {% if valid %}
        <div>Answer: {{outputnum}}</div>
        
    {% endif %}
      
    </body>
</html>

